@import "../../styles/variables.css";

.insideContent {
  height: 100%;
  width: 100%;
}

.leftCont {
  align-items: center;
  display: flex;
  gap: 8px;
}

.rightCont {
  align-items: center;
  display: flex;
  gap: 8px;
}

.modalLogoutActionCenter {
  align-items: center;
  background: #264061;
  display: flex;
  flex-direction: column;
  gap: 25px;
  height: 100%;
  padding: 60px;
  position: relative;
  width: -webkit-fill-available;
}

.closeButton {
  display: none;
}

.modalCloseButton {
  color: #9b9faa;
  position: absolute;
  right: 10px;
  top: 20px;
  transition: all 0.35s ease-in-out;
}

.modalCloseButton:hover {
  color: red;
}

.modalHeader {
  z-index: 10000;
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 12px 20px 11.51px 20px;
  width: -webkit-fill-available;
}

.logoHeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modalButtonsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.link {
  border-radius: 6px;
  background: rgb(16, 133, 16);
  padding: 5px 10px;
  width: 250px;
  transition: all 0.35s ease-in-out;
}

.link:hover {
  color: blue;
  background: var(--brand-color);
  scale: 1.08;
}

/* .active {
  color: blue;
  background: var(--brand-color);
} */

/* @media screen and (width >=768px) {
  .modalLogoutActionCenter {
    padding: 100px;
  }
} */
