.cont {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  align-items: center;
  display: flex;
  flex-wrap: wrap;

  color: var(--brand-color);
  font-family: Verdana;
  font-size: clamp(12px, 3vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  text-align: center;
}

.warn {
  color: red;
  font-size: 12px;
  font-weight: 700;
}

@media screen and (width >=768px) {
  .cont {
    align-items: flex-start;
    flex-grow: 1;
    width: -webkit-fill-available;
  }

  .title {
    padding: 10px 32px;
    /* width: 520px; */
  }
}

/* @media screen and (width >=1024px) {
    .section {
        padding: 140px 16px;

    }
} */
