.cont {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: -webkit-fill-available;
  padding: 16px;
  overflow-y: auto;
  width: -webkit-fill-available;
}

.leftSideCont,
.rightSideCont {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rightSideUpCont {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 20px;
}

.title {
  color: #212121;
  font-family: Verdana;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;

  /* text-align: center; */
}

.graphCont {
  align-items: center;
  border: solid 1px var(--Gray-5);
  border-radius: 6px;
  background: aliceblue;
  display: flex;
  max-height: 250px;
  justify-content: center;
  /* padding: 5px; */
  width: -webkit-fill-available;
  aspect-ratio: 2 / 1;
}

.rightSideContTitle {
  /* align-items: center; */
  border: 1px solid var(--Gray-5);
  border-radius: 4px;
  color: #212121;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 20px;
}

.rightSideDate {
  align-items: center;
  border: 1px solid var(--Gray-5);
  border-radius: 4px;
  color: #212121;
  display: flex;
  font-family: Verdana;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  justify-content: space-between;
  padding: 10px 20px;
}

.dateWrapper {
  width: fit-content;
}

.paramInput {
  background: var(--Gray-5);
  border: 1px solid #353945;
  border-radius: 5px;
  color: blue !important;
  cursor: pointer;
  padding: 5px 8px;
}

.fromToCont {
  display: flex;
  flex-direction: column;
}

.fromToTitle {
  align-items: center;
  border: 1px solid var(--Gray-5);
  border-radius: 4px;
  color: #212121;
  display: flex;
  font-family: Verdana;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  justify-content: space-between;
  padding: 0 20px;
}

.from,
.to {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 40%;
}

.rem {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 20%;
}

.rem,
.from {
  border-right: 1px solid var(--Gray-5);
}

.lineRowCont {
  display: flex;
  flex-direction: column;
  max-height: 130px;
  overflow-y: auto;
}

.lineRow {
  align-items: center;
  border: 1px solid var(--Gray-5);
  border-top: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.timeInputGroup {
  align-items: end;
  display: flex;
  /* font-size: 12px; */
  justify-content: space-between;
  width: 40%;
}

.removeBtn,
.dash {
  align-items: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  width: 30%;
  transition: all 0.35s ease-in-out;
}

.removeBtn:hover {
  scale: 1.05;
  color: red;
}

.timeInput {
  align-items: center;
  border: none;
  display: flex;
  font-size: clamp(12px, 2.5vw, 13px);
  width: 29px;
}

.twoDots {
  align-items: center;
  display: flex;
  justify-content: center;
}

.ampmSelect {
  border: none;
  font-size: clamp(12px, 2.5vw, 13px);
  outline: none;
}

.addSleepCont {
  align-items: center;
  border: 1px solid var(--Gray-5);
  border-radius: 4px;
  color: #212121;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  justify-content: space-between;
  padding: 10px 20px;
}

.addBtn {
  align-items: center;
  background: var(--brand-color);
  border-radius: 4px;
  color: var(--Gray-5);
  display: flex;
  justify-content: center;
  padding: 2px 4px;
  transition: all 0.35s ease-in-out;
}

.addBtn:hover {
  scale: 1.05;
  background: lightgreen;
  color: blue;
}

.saveBtn {
  align-items: center;
  background: rgb(30, 108, 197);
  border-radius: 4px;
  color: var(--Gray-5);
  display: flex;
  justify-content: center;
  padding: 2px 4px;
  transition: all 0.35s ease-in-out;
}

.saveBtn:hover {
  scale: 1.05;
  background: green;
}

.adviceCont {
  border: 1px solid var(--Gray-5);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 20px;
}

.adviceCont > h2 {
  color: rgb(0, 17, 255);
  display: flex;
  font-family: Verdana;
  font-size: clamp(14px, 2.5vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
}

.adviceCont > p {
  color: rgb(16, 172, 16);
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  font-family: Verdana;
  font-size: clamp(11px, 2.5vw, 14px);
  font-style: normal;
  font-weight: 600;
  line-height: 80%;
}

.navBtn {
  align-items: center;
  background: var(--brand-color);
  border: none;
  border-radius: 5px;
  color: var(--Gray-5);
  display: inline;
  font-family: Verdana;
  font-size: clamp(11px, 2.5vw, 12px);
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  justify-content: center;
  padding: 2px 4px;
  transition: all 0.35s ease-in-out;
}

.navBtn:hover {
  background: rgb(11, 131, 11);
}

@media screen and (width >=768px) {
  .cont {
    flex-direction: row;
  }

  .leftSideCont {
    width: 50%;
  }

  .rightSideCont {
    flex-grow: 1;
    width: 50%;
  }
}

/* @media screen and (width >=1024px) {

} */
